.toop{
  display: flex;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 56px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  background-color: #ffffff;
}
  
.top{
  display: block;
    float: left;
    width: 172px;
    height: 40px;
    margin: 8px 16px;
    background-size: 100%;
}

.top1{
  padding: 15px;
}


.nebuta{
    width: 100%;
    padding: 10%;
    margin-top: 10px;
    background-image:"Rectangle9(1).png" ;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  margin-top: 50px;
}

.text {
  margin-top: 30x;
  padding: 50px;
  height: 100px;
  color: ##000000;
}
